content "docs/content"
output "docs/public"

link_check {
}

stable_assets {
}

code_execution {
    enabled #true
    fail_on_error #true
    timeout_secs 30
    cache_dir ".cache/code-execution"

    dependencies {
        "serde" "1.0"
    }

    rust {
        command "cargo"
        args "run" "--quiet" "--release"
        extension "rs"
        prepare_code #true
        show_output #true
    }
}

syntax-highlight {
    light-theme "github-light"
    dark-theme "tokyo-night"
}
